a {
  text-decoration: none;
}
a:hover {
 text-decoration: underline !important;
}
.topLevelSection {
  width: 800px !important;
  margin: 0 auto !important;
}
#topNav {
  margin-top: 10px !important;
  height: 45px;
  position: relative;
  background-image: url(../images/brooklyn-logo-150px.png), linear-gradient(to bottom, #fff 0%, #eee 100%);
  background-origin: content-box, content-box;
  background-position: 12px 8px, 0 0;
  background-size: 148px 36px, 100% 100%;
  background-repeat: no-repeat, repeat-x;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px #888;
}
#topNav ul {
  position: absolute;
  right: 10px;
  top: 0;
}
#topNav a {
  padding: 3px 10px;
  margin: 0 5px;
  border-radius: 5px;
}
#topNav a:hover {
  background-color: #e0e7e0;
  text-decoration: none !important;
}
#topNav li {
  display: inline;
  list-style-type: none;
}
#topNav li.active a {
  background-color: #4a9e48;
  color: #fff !important;
}
#jumbotron {
  margin-top: 30px !important;
  margin-bottom: 27px !important;
  width: 403px !important; /* excludes padding and border */
  height: 202px; /* excludes padding and border */
  padding: 60px 20px 0 373px;
  background-color: #e0e7e0;
  background-image: url('../images/bridge-large-no-title.png');
  background-repeat: no-repeat;
  background-size: 342px 242px;
  background-position: 10px center;
  color: #809080;
  border: 1px solid #d0e0d0;
  font-size: 20pt;
  text-align: center;
  border-radius: 10px;
  vertical-align: middle;
}
#elevatorPitch {
  font-size: 12pt;
  color: #777;
  padding: 0;
}
#elevatorPitch p {
  display: table-cell;
  vertical-align: top;
  width: 236px;
  margin: 0;
  padding: 5px 15px;
  border-right: 1px solid #bbb;
}
#elevatorPitch p:last-of-type {
  border-right: none;
}
#callsToAction {
  text-align: center;
  margin-top: 20px !important;
}
.callToAction {
  display: inline-block;
  position: relative;
  width: 220px;
  margin: 20px;
  padding: 30px 0;
  font-size: 14pt;
  border-radius: 5px;
  box-shadow: 0 12px 6px -6px #666;
  border: 1px solid #484;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(to bottom, #8a8 0%, #484 100%) repeat-x 0 0;
  color: white;
}
.callToAction:hover {
  background: linear-gradient(to bottom, #aca 0%, #696 100%) repeat-x 0 0;
  border-color: #696;
  text-decoration: none !important;
}
#footer {
  margin-top: 40px !important;
  position: relative;
  height: 30pt !important;
  line-height: 10pt;
}
#footer-license {
  position: absolute;
  left: 0;
  top: 5px;
  font-weight: bold;
}
#footer-ip {
  position: absolute;
  right: 0;
  top: 5px;
  text-align: right;
}

