---
layout: base
---
<div class="container slightlyNarrowContainer">
    {{ content }}
</div>

<div id="footer">
    <div class="container" class="text-muted">
        <div style="float:right"><img src="https://incubator.apache.org/images/egg-logo.png" alt="Apache Incubator"></div>
        <p>
            Apache Brooklyn is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the 
            Apache Incubator. Incubation is required of all newly accepted projects until a further review indicates that the
            infrastructure, communications, and decision making process have stabilized in a manner consistent with other
            successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of
            the code, it does indicate that the project has yet to be fully endorsed by the ASF.
            Apache Brooklyn is distributed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.
        </p>
        <div class="clearfix"></div>
    </div>
</div>
