---
layout: base
---
<div class="container">
    <h1>{{ page.title }}</h1>
    {{ content }}
</div>

<div id="footer">
    <div class="container">
        <div style="float:right; text-align:center">
            <a class="btn btn-sm btn-default" href="https://github.com/apache/incubator-brooklyn-site/edit/master/{{ page.path }}">Edit This Page</a>
            <br />
            <a href="https://brooklyn.incubator.apache.org/community/how-to-contribute-docs.html">help with editing</a>
        </div>
        <p class="text-muted">Apache Brooklyn is distributed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>. Apache Brooklyn is currently undergoing Incubation at the Apache Software Foundation.</p>
    </div>
</div>
